{{ define "bodyclasses" }} instagram list-html contentgrouptype-instagrams contentgroupname-{{ .URL }}{{ end }}

{{ define "title" }}
	Instagram
{{ end }}

{{ define "subtitle" }}
	{{ $.Site.Params.instagramSubtitle }}
{{ end }}

{{ define "headerphoto" }}
	{{- $.Site.Params.headerPhoto -}}
{{ end }}

{{ define "main" }}

				<h1 class="text-center">{{ .Title | humanize }}</h1>
				<section id="category-list">
					<div class="card-deck">
						<div class="row">
							{{range (.Paginate (where (where .Data.Pages "Type" "!=" "page") ".Params.unlisted" "!=" true ) 9).Pages }}					
								{{ .Render "summary"}}
							{{ end }}
						</div>
					</div>
				</section>

		{{ partial "pagination.html" . }}
{{ end }}