{{ define "bodyclasses" }}post-list post-list-html contentgrouptype-{{ .Data.Singular }} contentgroupname-{{ .Title | urlize }} {{ end }}
{{ define "title" }}
	{{ .Title }}
{{ end }}

{{ define "subtitle" }}

{{ end }}

{{ define "headerphoto" }}
	{{- $.Site.Params.headerPhoto -}}
{{ end }}
{{ define "main" }}

		<section id="category-list" class="card-group">
				<div class="row">
					{{range (.Paginate (where (where .Data.Pages ".Params.options.unlisted" false) "Section" "!=" "instagrams") 9).Pages }}
						{{ .Render "summary" }}
					{{ end }}
				</div>
		</section>

		{{ partial "pagination.html" . }}
{{ end }}