{{ define "bodyclasses" }}single page _default/page.html contentgrouptype-{{ .Section }} contentgroupname-{{ .Title | urlize }}{{ end }}

{{ define "description" }}
	{{ partial "description.html" . }}
{{ end }}

{{ define "main" }}

<div class="wrapper">
  	{{ partial "header-small.html" . }}
	<div class="section">
		<div class="container">
<!-- Main -->

	<!-- Post -->

	        <article class="post">
	            <section class="article-body">{{ .Content }}</section>
	        </article>
	        <div class="separator separator-primary"></div>
	    </div>
	</div>
</div>
{{ end }}