{{ define "bodyclasses" }}single _default/single.html contentgrouptype-{{ .Section }} contentgroupname-{{ .CurrentSection.Title | urlize }} article article-title-{{ .Title | urlize }}{{ end }}

{{ define "description" }}
	{{ partial "description.html" . }}
{{ end }}

{{ define "main" }}
<div class="wrapper">
  	{{ partial "header-small.html" . }}
	<div class="section">

					<div class="container">

						<div class="row">
							<div class="col">
								<!-- Post -->
									<article class="post col-md-8 ml-auto mr-auto">

										<header>
											<div class="meta text-center">
												{{ if .Params.author }}
													<a href="/about/{{ string .Params.author | urlize }}" itemprop="author" title="{{ .Params.author }}" class="author">{{ if .Params.avatar }} <img src="{{ $.Site.BaseURL }}images/avatar_{{ .Params.avatar }}.jpg" alt="" class="rounded-circle" /> {{ else }}<img src="{{ $.Site.BaseURL }}images/avatar_bruno.jpg" alt="" />{{ end }}</a>
												{{ else }}
													<a href="{{ .Site.Params.authors.Main.authorlink }}" title="{{ .Site.Params.authors.Main.name }}" class="author"><img src="{{ $.Site.BaseURL }}images/avatar_bruno.jpg" alt="Bruno Amaral" class="rounded-circle" /></a>
												{{ end }}
												<time class="published" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "January 2, 2006" }}</time>

												<p class="readingtime">{{ .ReadingTime }} min read</p>
												{{ if .IsTranslated }} Translations:
												    {{ range .Translations }}
												        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
												    {{ end}}
												{{ end }}
											</div>
										</header>

										<section class="article-body">{{ .Content }}</section>
										<footer>
											<ul class="stats list-inline">

									{{ if isset .Params "categories" }}
									<li class="list-inline-item">{{ i18n "posts_categorized_as" }}:</li> 
										{{ range $index, $category := .Params.categories }}
											<li class="list-inline-item"><a href="{{ $.Site.BaseURL }}categories/{{ $category | urlize }}" class="">{{ $category }}</a></li>
										{{ end }}
									{{ end }}

									{{ if eq .Section "story" }}
											<li><a href="{{ .CurrentSection.Permalink }}" class="">{{ .CurrentSection.Title }}</a></li>
									{{ end }}

											</ul>
										</footer>
									</article>


					{{ if eq .Section "story" }}
					<section id="category-list" class="px-5">
						<h2 class="title">{{ .CurrentSection.Title }}</h2> 
						{{ with .CurrentSection.Params.subtitle }}
						<h3>{{ . }}</h3>							
						{{ end }}
						<p>{{ i18n "select_one_of_the_pages_in_this_story" }}</p>

						<div class="card-deck">
							<div class="row">
							{{ range where .CurrentSection.Pages ".Params.options.unlisted" false }}
								{{ .Render "summary" }}
							{{end}}
							</div>
						</div>
					</section>
					{{ end }} 

					{{ partial "pagination.html" }}

					<a name="comments"></a>
					<div class="row ">
						<div class="col-10 mx-auto">
							{{ template "_internal/disqus.html" . }}
						</div>
					</div>

					<div class="separator separator-primary"></div>
				</div>
			</div>
		</div>	
	</div>
</div>		
{{ end }}
