<div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('{{ partial "header-image.html" . }}');">
    </div>
    <div class="content-center">
        <div class="container">
            <div class="col-md-10 ml-auto mr-auto text-center">
                <h2 class="title" itemprop="headline" >{{ .Title }}</h2>
                {{- with .Params.subtitle }}
                    <h3 itemprop="subtitle">{{ . }}</h3>
                {{- end }}
                {{- with .Params.cta }}
                    <a href="{{ .url }}" class="btn btn-lg btn-primary">{{ .label }}</a>
                {{- end }}
            </div>
        </div>
    </div>
</div>