{{ define "bodyclasses" }}root{{ end }}
{{ define "description" }}
	<meta name="description" content="{{ $.Site.Params.description }}" />
	<meta name="twitter:description" content="{{ $.Site.Params.description }}"/>
{{ end }}
{{ define "main" }}
  <div class="wrapper">
    	    <div class="page-header">
    	    	<div class="page-header-image" data-parallax="true" style="background-image: url('{{ $.Site.Params.headerPhoto }}'); transform: translate3d(0px, 0px, 0px);"></div>
    	    	<div class="container">
    	        <div class="content-center brand">
    	        	<img class="n-logo" src="{{ $.Site.Params.logo }}" alt="Logo for {{ .Site.Title }}">
    	            <h1 class="h1-seo title">{{ block "title" . }}{{ .Site.Title }}{{ end }}</h1>
    	            <h5 class="description">{{ block "subtitle" . }}{{ $.Site.Params.subtitle }}{{ end }}</h5>
    	      			{{ $map := (index $.Site.Params.profiles ) }}
    	      			{{ range $key, $val := $map }}
    	              	<a href="{{ $val }}" class="btn btn-neutral btn-icon btn-round">
    	              	  <i class="fab fa-{{ printf $key }}"></i>
    	              	</a>
    	          	{{ end }}
    	        </div>
    			  </div>
    	    </div>
  	<div class="section">
  		<div class="container">



						<section id="category-list">

						{{ $firstposts := first 2 (where .Site.RegularPages ".Params.options.unlisted" false) }}

						{{ if eq .Paginator.PageNumber 1 }}
							<h2 class="d-sm-block d-lg-none text-center mt-3 title">{{ i18n "stories" }}</h2>
									<div class="card-deck justify-content-center px-3 m-0">
											<div class="row">

													{{ range where (.Site.GetPage "section" "story").Sections ".Params.options.unlisted" false | intersect (where .Site.Pages "Params.story_featured" "=" true) }}
													{{ partial "story-card.html" . }}
													{{ end }}

											</div>
									</div>
						{{ end }}
						</section>
						<div class="blogs-1" id="blogs-1">
							<div class="container">
								<div class="row">
									<div class="col-md-10 ml-auto mr-auto">
										<h2 class="title">{{ i18n "latest_blogposts" }}</h2>
										<br>
										{{ range $i,$p := $firstposts }}
										{{if not (modBool $i 2)}}
										<!-- first post -->
										<div class="card card-plain card-blog">
											<div class="row">
												<div class="col-md-5">
													<div class="card-image">
														<a href="{{ .Permalink }}">
														<img class="img img-raised rounded" src="{{- with .Resources.GetMatch "header" -}}
																{{- $image := .Fill "395x314" -}}{{- $image.RelPermalink -}}{{- else -}}{{- .Site.BaseURL -}}images/fractal_thumb.jpg{{- end -}}" alt="Header image for: {{ .Title }}">
														</a>
																	</div>
												</div>
												<div class="col-md-7">
														{{ range $index, $category := .Params.categories }}
														<h6 class="category mt-3"><a class="text-info" href="{{ $.Site.BaseURL }}categories/{{ $category | urlize }}/">{{ $category }}</a></h6>
														{{ end }}
														<h3 class="card-title">
																	  <a href="{{ .Permalink }}">{{ .Title }}</a>
																	</h3>
														<p class="card-description">
															{{ .Summary | truncate 230 }}
															<br>
															<a href="{{ .Permalink }}">{{ i18n "continue_reading" }} </a>
														</p>
														<p class="author">
															{{ i18n "by" }}
															<a href="{{ .Permalink }}">
																		<b>
																			{{ with .Params.author }}
																				<a href="/about/{{ string .Params.author | urlize }}" itemprop="author" title="{{ .Params.author }}" class="author">
																			{{ else }}
																				<a href="{{ .Site.Params.authors.Main.authorlink }}" title="{{ .Site.Params.authors.Main.name }}" class="author">{{ $.Site.Params.authors.Main.name }}</a>
															{{ end }}</a></b>, <time class="published text-muted" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "January 2, 2006" }}</time>
														</p>
													</div>
												</div>
											</div>
											{{ else }}
											<!-- second post -->
											<div class="card card-plain card-blog">
												<div class="row">
													<div class="col-md-7">
														{{ range $index, $category := .Params.categories }}
														<h6 class="category">
															<a class="text-danger" href="{{ $.Site.BaseURL }}categories/{{ $category | urlize }}/">{{ $category }}</a>
														</h6>
														{{ end }}
														<h3 class="card-title">
																	  <a href="{{ .Permalink }}">{{ .Title }}</a>
																	</h3>
														<p class="card-description">
															{{ .Summary | truncate 230 }}
															<br>
															<a href="{{ .Permalink }}"> {{ i18n "continue_reading" }} </a>
														</p>
														<p class="author">
															{{ i18n "by" }}
															<a href="{{ .Permalink }}">
																		  <b>
																			{{ with .Params.author }}
																				<a href="/about/{{ string .Params.author | urlize }}" itemprop="author" title="{{ .Params.author }}" class="author">
																			{{ else }}
																				<a href="{{ .Site.Params.authors.Main.authorlink }}" title="{{ .Site.Params.authors.Main.name }}" class="author">{{ $.Site.Params.authors.Main.name }}</a>
															{{ end }}</a></b>, <time class="published text-muted" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "January 2, 2006" }}</time>
														</p>
													</div>
													<div class="col-md-5">
														<div class="card-image">
															<a href="{{ .Permalink }}">
															<img class="img img-raised rounded" src="{{- with .Resources.GetMatch "header" -}}
																{{- $image := .Fill "395x314" -}}{{- $image.RelPermalink -}}{{- else -}}{{- .Site.BaseURL -}}images/fractal_thumb.jpg{{- end -}}" alt="Header image for: {{ .Title }}">
															</a>
														</div>
														</div>
													</div>
												</div>
												{{ end }}
												{{ end }}
												<!-- second post -->
											</div>
										</div><!-- row -->
									</div>
								</div>
							<p class="text-center"><a class="btn btn-primary btn-lg" href="{{ $.Site.BaseURL }}/post" role="button">{{ i18n "read_more_posts"}}</a></p>

			<div class="separator separator-primary"></div>
		</div>
	</div>
</div>

{{ end }}