{{ define "bodyclasses" }}story page subhomepage contentgrouptype-stories contentgroupname-{{ .Params.story_slug | urlize }} article-title-subhomepage{{ end }}

{{ define "title" }}
    {{ $.Params.story_title }}
{{ end }}

{{ define "subtitle" }}
	{{ with $.Params.story_subtitle }}
	<h2 class="ttle">{{ . }}</h2>
	{{ end }}
{{ end }}

{{ define "headerphoto"}}
	{{- with .Resources.GetMatch "sectionHeader" -}}
	{{- $image := .Fill "1350x600" -}}
	{{- $image.RelPermalink -}}
	{{- end -}}
{{ end }}



{{ define "main" }}				
	<div class="row">
		<article class="post d-block col">

					<section class="article-body">
					{{ with .Params.story_description }}
					<p>{{ . }}</p>
					{{ end }}
					{{ .Content }}
					</section>

		</article>
	</div>

	<div class="card-deck">
		<div class="row">
		{{ if eq .Params.unlisted true }}
			{{range (.Paginate ( where .Data.Pages "Type" "stories")  9).Pages}}
				{{ .Render "summary"}}
			{{ end }}
		{{ else }}
			{{range (.Paginate (where ( where .Data.Pages "Type" "stories") ".Params.unlisted" "!=" true)  9).Pages}}
				{{ .Render "summary"}}
			{{ end }}
		{{ end }}
		</div>
	</div>

						

{{ partial "pagination.html" . }}

		
{{ end }}